body {
  background: radial-gradient(rgb(188, 226, 113), #5fbfff);
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

.Register {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  border: 25px solid;
  border-radius: 3%;
  border-color: white;
  color: black;
  padding: 0%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}
.boton {
  display: flex;
  justify-content: center;
}

placeholder {
  color: aqua;
}

@media screen and (max-width: 768px) {
    .Register {
        width: 70%;
    }
}
.Registrar {
    padding-bottom: 5%;
}