.logo, .profile_logo{
    width: 45px;
}
.logo:hover, .profile_logo:hover {
    transform: scale(1.1);
    
}
.profile_logo {
    padding: 0;
    margin: 0;
    width: 35px;
}
.nav {
    display: flex;
    margin: 2%;
    margin-left: 0.5%;
    margin-bottom: 0;
    margin-top: 0.5%;
    
}
.header {
    background-color: rgb(225, 225, 225) !important;
}
.boton-buscar {
    background-color: white;
    border-color: black;
}
.boton-buscar:hover {
    background-color: rgb(151, 151, 151);
    color: white
}
