@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);


body {
  color: rgb(255, 255, 255);
  background: radial-gradient(rgb(255, 255, 255), rgb(112, 184, 255));
  font-family: 'Alegreya Sans', sans-serif;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.perfil {
width: 210px;
}


.card  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 700px;
} 



h1, h2, h3, h4, h5, p, ul, li {
  color: black  
}

img {
  background-color: aliceblue;
  border-radius: 15%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  background-image: url(logo.png);
  width: 45px;
  height: 45px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.logo:hover {
 transform: scale(1.2);
  background-image: url(logo_hover.png);
}

.config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.editar {
  background-image: url(98f42fc6b05a.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.editar:hover {
  transform: scale(1.2);
  background-image: url(98f42fc6b05a.png);
}